/* casework-site page  */

/* nova font for the h2 - font-family: 'Nova Square', cursive; */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #20202c;
}


main{
	/* overflow: auto; */
	padding-bottom: 450px;
}

header .full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

header .half-width {
	width: 600px;
	float: left;
	margin-top: 15px;
}

header .logo {
	font-size: 20px;
	margin: 15px 10px;
	font-weight: normal;
	color: wheat;
}

header .half-width nav {
	float: right;
	margin: 15px 10px;
	
}

header .half-width nav ul li {
	display: inline-block;
	font-family: 'Source Sans Pro', sans-serif;
}

header .half-width nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	color: #fa0075;
	padding-left: 100px;
}

.main-image img{
	width: 100%;
}


.main-image h1 {
	width: 100%;
	position: relative;
	bottom: 700px;
	padding-left: 150px;
	font-size: 6em;
}

.main-image h1 span {
	font-family: 'Nova Square', cursive;
	color: #ff0094;
	font-weight: normal;
}

.casework h2 {
	text-align: center;
	font-size: 36px;
	text-transform: uppercase;
	font-family: 'Skranji', cursive;
	margin-top: 0px;
	margin-bottom: 5rem;
	color: #fa0075;
}


.wrapper{
	display: grid;
	grid-template-columns: minmax(auto, 50%) 2fr;
	grid-template-rows: minmax(100px, auto);
	grid-gap: 0px;
	background-color: #20202c;
	color: wheat;
	padding: 20px 135px;
	margin: 1em;
}

.grid-1 img {
	max-width: 80%;
	margin: 100px;
}

.grid-2-message {
	max-width: 100%;
	align-items: center;
	margin-top: 20px;
	padding-left: 100px;
	
}

.grid-2-message .personal-port h3 {
	margin-top: 150px;
	padding-bottom: 30px;
	font-size: 2rem;
}

.grid-2-message .personal-port h4{
	font-size: 1.5rem;
	padding-bottom: 30px;
}

.grid-2-message .personal-port p{
	font-size:1rem;
	line-height: 1.9;
}

.grid-3-message {
	max-width: 100%;
	align-items: center;
	margin-top: 25px;
	padding-left: 200px;
	
}
.grid-3-message .h-email h3 {
	margin-top: 150px;
	padding-bottom: 30px;
	font-size: 2rem;
}

.grid-3-message .h-email h4{
	font-size: 1.5rem;
	padding-bottom: 30px;
}

.grid-3-message .h-email p{
	font-size:1rem;
	line-height: 1.9;
}

.grid-4 img  {
	max-width: 60%;
	margin: 100px;
}

.grid-5 img {
	max-width: 80%;
	margin: 100px;
}

.grid-6-message {
	max-width: 100%;
	align-items: center;
	margin-top: 40px;
	padding-left: 80px;
}

.grid-6-message .landing h3{
	margin-top: 135px;
	font-size: 2rem;
	padding-bottom: 30px;
}

.grid-6-message .landing h4{
	font-size: 1.5rem;
	padding-bottom: 30px;
	
}

.grid-6-message .landing p{
	font-size:1rem;
	line-height: 1.7;
}

.grid-7-message {
	max-width: 100%;
	align-items: center;
	margin-top: 135px;
	padding-left: 200px;
	
}

.grid-7-message .cms h3{
	margin-top: 25px;
	font-size: 2rem;
	padding-bottom: 30px;
}

.grid-7-message .cms h4{
	font-size: 1.5rem;
	padding-bottom: 30px;
	
}

.grid-7-message .cms p{
	font-size:1rem;
	line-height: 1.7;
}



.grid-8 img  {
	max-width: 80%;
	margin: 100px;
}







/* about me img section */

.about-me img{
	width: 100%;
	position: absolute;
	
}

.about-me h2 {
	position: relative;
    padding: 150px 30px 5px 400px;
    color: #fa0075;
	font-size: 36px;
	font-family: 'EB Garamond', serif;
	text-transform: uppercase;
}

.about-me h3 {
	position: relative;
    padding: 0px 30px 30px 410px;
    color: #fa0075;
	font-size: 25px;
}

.about-me p{
	position: relative;
	padding: 0px 30px 5px 410px;
	color: #fa0075;
	font-size: 1.2em;
	line-height: 25px;
}

/* new footer starts here */

.footer-container {
	/* margin-top: -130px; */
    background-color: #20202c;
    text-align: center;
    color: wheat;
}

.footer-container .company-details h2{
	color: #ff0094;
	margin: 65px;
	font-size: 2rem;
	text-align: center;
	font-family: 'EB Garamond', serif;
}

.footer-container .row{
	margin-bottom: 20px;
	line-height: 23px;
	
}

.footer-container .row .column{
	float: left;
	width: 33.33%;
	padding: 10px;
}

.footer-container .row:after{
	content:"";
	display: table;
	clear: both;
}

.footer-container .row .column h3{
	font-size: 25px;
	font-family: 'EB Garamond', serif;
	padding-bottom: 32px;
}

.footer-container .column .social-media li{
	display: inline-block;
	padding: 15px;
	font-size: 25px;
	
}

.footer-container .column .social-media i{
	color: #ff0094;
}
.copyright p{
	padding-bottom: 25px;

}




X-Small devices (portrait phones, less than 576px) 

@media screen and (max-width: 350px) {
	header .logo {
		font-size: 14px;
		margin: 15px 111px;
		font-weight: normal;
		color: wheat;
	}

	header .half-width {
		width: 482px;
		float: left;
		margin-top: 4px;
		line-height: 23px;
		text-align: center;
	}
	
	header .half-width nav {
		float: left;
		margin: 15px -5px;
	}
}


/* // Small devices (landscape phones, less than 768px) */
/* @media screen and (min-width: 600px) {
	body {
		background-color: blue;
	}
} */

/* // Medium devices (tablets, less than 992px) */
/* @media screen and (min-width: 800px) {
	body {
		background-color: purple;
	}
} */

/* // Large devices (desktops, less than 1200px) */
/* @media screen and (min-width: 1000px) {
	body {
		background-color: yellow;
	}
} */

X-Large devices (large desktops, less than 1400px) */
@media screen and (min-width: 1400px) {
	.main-image h1 {
	width: 100%;
    position: relative;
    bottom: 700px;
    padding-left: 150px;
    font-size: 3em;
	}
} 

XX-Large devices (larger desktops)
// No media query since the xxl breakpoint has no upper bound on its width 
